{% extends 'generator/base.html' %}
{% load static %}

{% block content %}

<p>
<h2>Hi there,</h2>
<br>
My name is Mark, i love building things, from simple to big, and one of the simple but helpful one is this little application.
This site helps you create a secure password for you or your organisation while giving you the freedom to customize
your it by selecting the length, and content of the password. The passwords generated are random and only you get to know them,
not even i see them. We recommend ticking all the contents in order to make it more secure, believe me as long hackers don't hack your mind,
it will take them millions of years to crack these passwords.

<h3>Don't feel shy to visit again, chao!</h3>
</p>

{% endblock content %}